@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.navigation-link,
.slider-link,
.features-slider-button,
.delivery-link,
.about-button,
.contacts-button,
.subscription-button,
.footer-navigation-link,
.filters-button,
.cards-button,
.cards-pagination-button {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  background-color: #ffe17f;
}

.header-container {
  max-width: 1040px;
  margin: 0 auto;
}

.header-user-container {
  display: flex;
  margin-bottom: 30px;
}

.header-link {
  display: block;
  margin-top: 19px;
  margin-bottom: 30px;
}

.header-search {
  width: 520px;
}

.search-field {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.page-navigation-container {
  display: flex;
  margin-bottom: 14px;
}

.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-navigation-item {
  margin-left: 18px;
  list-style-type: none;
}

.user-navigation-item:first-child {
  margin-left: 0;
  margin-right: auto;
}

.user-navigation-link {
  padding-left: 22px;
  text-decoration: none;
  color: #000000;
}

.user-navigation-exit {
  opacity: 0.3;
}

.header-catalog {
  display: block;
  width: 295px;
  padding: 15px 0;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 640px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 15px 0;
}

.navigation-item:not(:last-child) {
  margin-right: 45px;
}

.basic-container {
  width: 1160px;
  margin: 0 auto;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-wrapper {
  width: 560px;
  margin-bottom: 108px;
}

.slider-number {
  margin: 0;
  font-size: 180px;
  line-height: 180px;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  background-color: #ffe17f;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-description {
  margin-bottom: 60px;
}

.slider-arrows {
  margin: 0;
  padding: 0;
}

.slider-link {
  display: inline-block;
  margin-bottom: 50px;
  padding: 10px 5px;
}

.slider-arrow {
  list-style-type: none;
}

.slider-paginator-list {
  margin: 0;
  padding: 0;
}

.slider-paginator-item {
  list-style-type: none;
}

.slider-features {
  display: flex;
  margin: 0;
  color: #000000;
}

.slider-features-wrapper {
  display: flex;
  flex-direction: column;
}

.slider-features-wrapper:not(:last-of-type) {
  margin-right: 20px;
}

.features-term {
  font-size: 16px;
}

.features-descriptor {
  margin: 0;
  margin-bottom: 12px;
  order: -1;
  font-size: 36px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
}

.products-item {
  width: 160px;
  list-style-type: none;
}

.products-link {
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.product-image {
  display: block;
  margin-bottom: 32px;
}

.features {
  background-color: #f0f0f0;
}

.features-container {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-bottom: 145px;
  display: flex;
}

.features-slider {
  width: 287px;
  margin: 0;
  padding: 0;
}

.features-slider-item {
  list-style-type: none;
}

.features-slider-item:first-child {
  margin-top: 64px;
}

.features-slider-item:not(:last-child) {
  margin-bottom: 35px;
}

.features-list {
  width: 695px;
  margin: 0;
  margin-right: 63px;
  margin-left: 116px;
  padding: 0;
}

.features-item {
  list-style-type: none;
}

.features-text {
  width: 475px;
}

.features-title {
  margin: 0;
  margin-top: 72px;
  margin-bottom: 34px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.features-text {
  margin: 0;
}

.delivery {
  background-color: #f0f0f0;
  margin-bottom: 70px;
}

.delivery-link {
  display: block;
  padding: 40px 125px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.index-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about {
  width: 520px;
}

.about-title,
.contacts-title {
  margin-top: 47px;
  margin-bottom: 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.about-descriptor {
  margin-bottom: 30px;
}

.about-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-item {
  padding-left: 34px;
  list-style-type: none;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.contacts {
  width: 532px;
}

.contacts-info {
  margin-bottom: 30px;
}

.contacts-subtitle {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.contacts-adress {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-item {
  list-style-type: none;
}

.contact-tel {
  color: #444444;
}

.subscription {
  padding: 54px 0 56px;
  background-color: #f0f0f0;
}

.subscription-container {
  width: 1160px;
  margin: 0 auto;
}

.subscription-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscription-wrapper:first-of-type {
  margin-bottom: 144px;
}

.subscription-title {
  margin: 0;
  width: 350px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscription-descriptor {
  margin: 0;
  width: 560px;
}

.subscription-form {
  width: 810px;
}

.subscription-email {
  font-family: 'Rubik', "Arial", sans-serif;
  color: #444444;
  opacity: 0.5;
}

.subscription-button {
  padding: 18px 39px;
}

.subscription-info {
  margin: 0;
  width: 160px;
}

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-container {
  width: 1160px;
  padding: 62px 0 65px;
  margin: 0 auto;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper:first-of-type {
  margin-bottom: 50px;
}

.footer-link {
  display: block;
  margin-bottom: 35px;
}

.footer-adress {
  width: 240px;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 455px;
  margin: 0;
  padding: 0;
}

.footer-navigation-item {
  list-style-type: none;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link {
  color: #ffffff;
}

.footer-tel {
  width: 175px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-social {
  width: 150px;
  margin: 0;
  margin-left: 505px;
  padding: 0;
}

.social-item {
  list-style-type: none;
}

.social-link {
  color: #ffffff;
}

.inner-body {
  color: #000000;
}

.main-inner {
  background-color: #f0f0f0;
}

.inner-header {
  padding: 35px 0;
  background-color: #ffffff;
}

.inner-header-wrapper {
  width: 1040px;
  margin: 0 auto;
}

.inner-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumps {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumps-item {
  margin-right: 36px;
  list-style-type: none;
}

.breadcrumps-item:last-child {
  margin-right: 0;
}

.breadcrumps-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.inner-index-container {
  width: 1160px;
  padding-top: 25px;
  margin: 0 auto;
  display: flex;
}

.filters {
  width: 320px;
}

.filters-title,
.cards-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.filters-title {
  margin: 0;
  margin-bottom: 60px;
}

.group-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.checkbox-term,
.radio-term {
  font-size: 16px;
  line-height: 19px;
}

.sort-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 40px 25px;
}

.cards {
  width: 840px;
}

.cards-title,
.cards-popular,
.cards-sort {
  margin: 0;
}

.cards-wrapper {
  padding-bottom: 78px;
  background-color: #ffffff;
}

.cards-list {
  margin: 0;
  padding: 70px 40px 44px;
}

.cards-item {
  list-style-type: none;
}

.cards-link {
  text-decoration: none;
  color: #000000;
}

.cards-image {
  display: block;
  margin-bottom: 32px;
}

.cards-subtitle {
  margin: 0;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.cards-price {
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #444444;
}

.cards-button {
  display: inline-block;
  margin: 0 40px 44px;
  padding: 18px;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffffff;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 40px;
  padding: 25px;
  background-color: #ebebeb;
}

.cards-pagination {
  margin: 0;
  display: flex;
}

.cards-pagination-item {
  list-style-type: none;
}

.cards-pagination-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}
